body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.row-nowrap{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
}

.column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}

.column-nowrap{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
}

.pb-1 {
  padding-bottom: 1vh;
}

.margin-auto {
  margin: 0 auto;
}

.responsive-img {
  width: 100%;
  /* max-width: 1; */
  height: auto;
}

.weight-100 {
  font-weight: 100;
}
.rounded {
  border-radius: 50%;
}

#app-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
          justify-content: center;
}

/* NAVBAR */
#menu-button {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  right: 0;
  height: 8vh;
  width: 15vw;
  background-color: rgba(49, 12, 12, 0.561);
  top: 0;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-60deg,rgba(63, 63, 63, 0.281),rgba(246, 246, 246, 0.102), rgba(49, 49, 49, 0.178));
  border-bottom: 1px ridge rgb(44, 44, 44);
  border-right: 1px ridge rgb(44, 44, 44);
  border-left: 1px ridge rgb(44, 44, 44);
  border-top: none;
  color: white;
}

#menu-button.active {
  border-left: none;
  background-color: transparent;
}

#menu-button i {
  color: white;
  font-weight: 100;
}
#navbar-container {
  height: 8vh;
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  left: 0;
  right: 15vw;
  top: 0;
  background-color: rgba(49, 12, 12, 0.561);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-60deg,rgba(63, 63, 63, 0.281),rgba(246, 246, 246, 0.102), rgba(49, 49, 49, 0.178));
  border-bottom: 1px ridge rgb(44, 44, 44);
  border-right: 1px ridge rgb(44, 44, 44);
  border-left: 1px ridge rgb(44, 44, 44);
  border-top: none;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  font-size: 1.3vw;
}

.navbar-link:link {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 100;
  padding: 1em;
}

.navbar-link:visited {
  color: white;
  text-decoration: underline;
  font-family: 'Lato', sans-serif;
  background-color: slategrey;
}

.navbar-link:hover {
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  background-color: rgba(211, 211, 211, 0.356);
  -webkit-transform: scale(1.2,1.2);
          transform: scale(1.2,1.2);
  border: 1px groove white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0px 2px 3px black;
  border-radius: 5px;
  font-size: 1.1em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.navbar-link:focus {
  background-color: black;
}

.navbar-link:active {
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 1px black;
  -webkit-transform: scale(1.15,1.15);
          transform: scale(1.15,1.15);
}

#social-button {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 8vh;
  bottom: 0;
  left: 0;
  width: 15vw;
  background-color: rgba(49, 12, 12, 0.561);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-60deg,rgba(63, 63, 63, 0.281),rgba(246, 246, 246, 0.102), rgba(49, 49, 49, 0.178));
  border-top: 1px ridge rgb(44, 44, 44);
  border-right: 1px ridge rgb(44, 44, 44);
  /* border-left: 1px ridge rgb(44, 44, 44); */
  color: white;
}

#social-button.active {
  background-color: transparent;
}

#social-menu {
  position: fixed;
  display:-webkit-box;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
          align-items: center;
  top: 8vh;
  bottom: 8vh;
  right: 85vw;
  left: 0;
  background-color: rgba(49, 12, 12, 0.561);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(-60deg,rgba(63, 63, 63, 0.281),rgba(246, 246, 246, 0.102), rgba(49, 49, 49, 0.178));
  border-bottom: 1px ridge rgb(44, 44, 44);
  border-right: 1px ridge rgb(44, 44, 44);
  border-left: 1px ridge rgb(44, 44, 44);
  border-top: none;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  font-size: 1vw;
  color: white;
  font-weight: 100;
}

.social-link {
  color: white;
}



/* /////////////////////////// */

#about {
  background-color: rgba(41, 66, 179, 0.76);
  height: 100vh;
  padding-top: 1.2em;
  border: 10px groove rebeccapurple;
}

#projects {
  background-color:rgba(138, 6, 6, 0.753);
  height: 100vh;
}

#tech-stack {
  background-color:rgba(135, 207, 235, 0.753);
  height: 100vh;
}

#experience {
  background-color: rgba(112, 128, 144, 0.753);
  height: 100vh;
  width: auto;
}

.columbia-container {
  width: 100%;
  height: 100%;
}

.columbia-background {
  background-image: url('https://744025.smushcdn.com/1245953/wp-content/uploads/2019/06/Columbia.jpg?lossy=1&strip=1&webp=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;

}



#contact {
  display: flex;
  flex-flow: column no-wrap;
  background-color: rgba(34, 139, 34, 0.753);
  height: 80vh;
  left: 16vw;
  right: 16vw;
  border: 10px solid black;
}

